*   {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.sub-container {
    justify-content: center;
    }

.card-2 {
    justify-content: space-around;
}

.card-3 {
    justify-content: space-around;
}

.card-4 {
    justify-content: space-around;
}

.card {
    padding: 20px;
    margin: 5px;
    color: black;
    border-radius: 5px;
    min-width: 20em;
    border: solid 1px;
    background: linear-gradient(to left,#868f96, #80d0c7, #6de04a);  
   /*  animation: gradient 20s ease infinite;  */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    500% {
        background-position:    100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

@media (min-width:500px) {
     
.main-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 900px;
    padding: 0;
    
}

.container-1 {
    flex: 1;
    /* order: 2 ; */}
            
.container-2 {
    flex: 3;
    /* order: 1; */
}    
}
    