.flexbox-container{
    margin: 20px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    text-align: left;
    background-color: burlywood;
}

.main-body {
    background-color: red;
    padding: 15px;
}

