.sub-container {
    justify-content: center;
    }

.card-1 {
    justify-content: space-around;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 270px;
    border-radius: 4px;
    border:double;
}

.card-2 {
    justify-content: space-around;
}

.card-3 {
    justify-content: space-around;
}

.card-4 {
    justify-content: space-around;
    background-color: lawngreen;
}

.card {
    padding: 20px;
    margin: 5px;
    color: black;
    border-radius: 5px;
    min-width: 20em;
    background-color:#999;
    border: solid 1px;
}

button {
    border-radius: 4px;
    background-color: yellowgreen;
}
    
@media (min-width:500px) {
     
.main-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 900px;
    padding: 0;
    
}

.container-1 {
    flex: 1;
    /* order: 2 ; */}
            
.container-2 {
    flex: 3;
    /* order: 1; */
}    
}
    