/* .footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(55, 112, 158);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.footer-tag {
    margin-left: auto;
    margin-right: auto;
  
} */