.card-2 {
    /* display: flex;    */
    text-align: center;
    padding: 20px;
    height: 100px;
}

a {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    border: thin black;
}


.fa-facebook, .fa-linkedin {
    background-color: rgb(31, 134, 175);
}

.fa-github{
    background-color: black;
}

.fa-instagram {
    background-color: rgba(238, 41, 41, 0.815);
}

.fa:hover{
    opacity: 60%;
    padding: 20px;
}