img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 270px;
    border-radius: 4px;
    border:double;
}

.card-1 {
    justify-content: space-around;
}

.button {
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: yellowgreen;
    height: 40px;
    width: 100px;
    color: black;    
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
